body {
    margin: 0;
    background-color: white;
    font-size: 100px;
  }


.naviga {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 10;
    background-color: white;
    border: 1px solid  rgb(245, 171, 76) ;;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nome{
    display: flex;
    justify-content: flex-start;
}

.nome h1{
    display: inline;

    font-family: 'Abel', sans-serif;
    font-size: 2.8rem;
    font-style:italic;
    color: white;
    text-align: center;

    padding: 2px 35px 3px 3px;
    background-color: rgb(245, 171, 76) ;

}

.nome .head img {
    margin-top: -1px;
    height: 62px;
    margin-left:-28px;
    border-radius: 100px;
   
}

#ricerca {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-style:italic;
    color: rgb(75, 71, 71);
    text-align: right;

    padding: 10px 25% 10px 20px;
    border-radius: 15px;

    background-color: white;
    border: 1px solid  rgb(245, 171, 76);
    margin: 5px 0px;
}

.barra .menu {
    display: flex;
    justify-items: flex-end;
}

 .menu a {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-style:normal;
    color: black;
    text-align: right;

    background: white;
    padding: 18.5px 10px 18px 10px;
    border: 1px solid  rgb(245, 171, 76); 
}

.menu img {
    height:22px;
}

header {
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    margin-bottom: 5px;;
}

.overlay {
    background-color:rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titolo {
    font-family: 'Abel', sans-serif;
    font-size: 2.5rem;
    font-style:normal;
    color:white;
    text-align: center;
}

.principale {
    background-color:#4d7e8e;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.principale  img {
    height: 200%;
    margin-top: -50%;
    margin-right:30px;
    border-radius: 100px;
    border: 5px solid white;
}

.article1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-style:normal;
    color: black;
    text-align: left;
    font-weight: bold;
}


.a1{
    background:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom:10vh;
}

.a1 .paragrafo1{
    font-size: 5vh;
    margin-left: 5%;
    text-align: left;
    
}

.a1 p em {
    color: rgb(245, 171, 76);
    font-style: normal;
}

.disp {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.disp img {
    width: 90%;
    height: auto;
    border-radius: 100px;
}


.consigli {
    background-color:  rgba(245, 172, 76, 0.74);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.consigli h1 {
    font-size: 2rem;
    font-family: 'Heebo', sans-serif;
    font-weight: lighter;
}

.consiglio {
    background-color: white;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom:5vh;
}

.testuale h1 {
    margin-left: 0vw;
    font-family: 'Abel', sans-serif;
}

.testuale {
    margin-left: 2vw;
    margin-right:2vw;
    font-size: 1.2rem;
    font-family: 'Crimson Text', serif;
    font-weight: lighter; 
}

.testuale p{
    line-height: 2rem;
}

.consiglio .immagini {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.consiglio img {
    width:25%;
}

.disposizione {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.disposizione .consiglio{
    width: 50%;
}

.a2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom:10vh;
}

.a2  img{
    margin-top: 5vh;
    width: 20vw;
}


.a2 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-style:normal;
    color: black;
    text-align: left;
    font-weight: bold;
    margin-left: 6vw;
}


.a2 .offerta p {
    font-family: 'Crimson Text', serif;
    font-weight: lighter;
    font-size: 3.5vh;
    text-align: center;
}

.a2 .offerta p em {
  color: rgb(245, 171, 76);
    font-size: 4vh;
}

.a2 .offerta p strong {
    text-decoration: line-through;
      font-size: 3vh;
      font-weight: normal;
}

.a2 .offerta .sottoparagrafo {
    font-size: 3vh;
}

.a3 {
    background: rgb(245, 171, 76);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.separatore {
    font-size: 4vh;
    padding: 20px 20px 20px 20px;
    background: rgb(170, 158, 158);
    border-radius: 20px;
    margin-top: -5vh;
}

.a3 .sezione {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a3 .negozio, .a3 .mappa {
    width: calc(50% - 20px);
    margin-top:5vh;
    margin-bottom: 5vh;
}

.a3 img {
    width: 100%;
}

.a3 .mappa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a3  p {
    font-family: 'Abel', sans-serif;
    font-size:3.5rem;
}

.a3 .mappe {
    padding: 3vh 3vh;
    font-size: 2rem;
    background-color: #4d7e8e;
    border-radius: 20px;
}


.sezione2  .mappa a{
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    color:white;
}

.sezione2  .mappa a:hover{
    color:rgb(245, 171, 76);
}

.article2 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    font-style:normal;
    color: black;
    text-align: right;
}

.addestramento {
    background-color:  #4d7e8e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addestramento img {
    margin-top: 5vh;
    width: 90vw;
}

.addestramento .testoadd {
    margin-top: -25%;
    margin-bottom: 37vh;
    text-align: center;
    color:#4d7e8e;
}

.addestramento h1 {
    border: 5px solid #4d7e8e;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
}

.addestramento a {
    text-decoration: none;
    color:#4d7e8e;
}

.addestramento a:hover{
    color:rgb(245, 171, 76);
}


footer {
    font-family: 'Sigmar One', verdana;
    font-size: 1rem;
    font-style:normal;
    color: white;
    text-align: center;

    background:  #4d7e8e;
    display: flex;
    flex-direction: column;

}

.disp2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .disp2 img {
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

 .disp2 p{
    font-family:  verdana;
    font-style: italic;
}

.autore {
    margin-top: 40px; 
    font-size: 1.5rem;
    font-family: 'Abel', sans-serif;
}

#mobile {
    display: none;
}

@media (max-width: 500px) {
    .disp {
        flex-direction: column;
    }

    .disp img {
        width: 70%;
        margin-bottom:5vh;
    }

    .a2 .disp {
        text-align: center;
    }
    header {
        height: 50%;
        font-size:1rem;
    }

   footer p {
       font-size:0.3rem;
   }

   .a3 .sezione {
       flex-direction: column;
   }

   .a3 .sezione .negozio {
        width: 100%;
   }

   .a3 .sezione .mappa {
       font-size: 0.2rem;
       margin-top:0px;
       text-align: center;
   }

   .barra {
       display: none;
   }

   .consigli  h1 {
       margin-left:2vh;
   }

   .menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    }

    #mobile {
        display: flex;
    }

    #mobile .menu {
        margin-top: 15px;
    }
}




@media (max-width:1200px) {
    .addestramento img{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .addestramento .testoadd {
        margin-top:0px;
        margin-bottom: 0px;
        color:white;
        margin-bottom:5vh;
    }

    .addestramento .testoadd a {
        color:white;
    }
}


@media (max-width:800px){
    .disposizione{
        flex-direction: column;
        align-items: center;
    }

    .disposizione .consiglio{
        width: 90vw;
    }
}







